.banner {
  background: rgb(255, 255, 255);
  height: 100%;
  background: var(--color-bg);
  position: relative;
  overflow: hidden;
}

.banner__caption {
  position: absolute;

  z-index: 3;
  transform: rotate(353deg);
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: var(--text-md);
  top: 80%;
  left: 1rem;
  opacity: 0;
  animation: captionAnimation 0.5s 0.5s 1 forwards;
}

@keyframes captionAnimation {
  from {
    top: 80%;
    opacity: 0;
  }

  to {
    top: 40%;
    opacity: 1;
  }
}

.banner__product {
  @extend .banner__caption;
  font-size: var(--text-xxl);
  font-weight: 300;
  top: 40%;
  opacity: 0;
  animation: productAnimation 1s 1s 1 forwards;
}
@keyframes productAnimation {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.banner__image {
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 300px;
  transform: scale(3) rotate(20deg);

  opacity: 0;
  animation: imageAnimation 1s 1s 1 linear forwards;
}

@keyframes imageAnimation {
  0% {
    transform: scale(3) rotate(0deg);
    opacity: 0.25;
  }

  80% {
    transform: scale(0.8) rotate(20deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) rotate(20deg);
    opacity: 1;
  }
}

.banner__content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.banner__btn {
  top: 67%;
  left: 16%;
  transform: rotate(353deg);
  position: absolute !important;
  animation: buttonAnimation 0s 2s 1 linear forwards;
  opacity: 0;
  z-index: 5;
}

@keyframes buttonAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
